<?xmlversion="1.0"encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <!-- ClassPathEntry: database JDBC driven jar packet address -->
    <context id="DB2Tables" targetRuntime="MyBatis3">

        <jdbcConnection>driverClass</jdbcConnection>
        <jdbcConnectiondriverClass>"oracle.jdbc.driver.OracleDriver"
        connectionURL="jdbc:oracle:thin:@198.17.1.1:1521:ORCL"
        userId="unuser"
        password="password">
        </jdbcConnectiondriverClass>
    <!--  The default false, JDBC DECIMAL and NUMERIC type analysis for Integer
         true, The JDBC DECIMAL and NUMERIC type analysis for java.math.BigDecimal
     -->
    <javaTypeResolver>
        <propertyname="forceBigDecimals"value="false"/>
    </javaTypeResolver>
    <!-- Position automatic code generation of targetProject: -->
    <javaModelGeneratortargetPackage="com.soft.model"targetProject="E:\WebWorkSpace\workspace_js\downAttachdemo\src">
    <!-- EnableSubPackages: if the schema as a suffix - package>
    <propertyname="enableSubPackages"value="true"/>
  <!-- The value returned from the database space is cleared and -->
    <propertyname="trimStrings"value="true"/>
</javaModelGenerator>

<sqlMapGeneratortargetPackage="sqlmap"targetProject="E:\WebWorkSpace\workspace_js\downAttachdemo\conf">
<propertyname="enableSubPackages"value="false"/>
        </sqlMapGenerator>

<javaClientGeneratortype="XMLMAPPER"targetPackage="com.soft.mapping"targetProject="E:\WebWorkSpace\workspace_js\downAttachdemo\src">
<propertyname="enableSubPackages"value="true"/>
        </javaClientGenerator>
        <!-- TableName: is used to automatically generate code database table; domainObjectName: corresponds to the javaBean class name database table -->
<table schema="untodo" tableName="mocha_t_app" domainObjectName="MochaTodoApp">

</table>
        </context>

        </generatorConfiguration>